.boton1{
    background-color:#ffff;
    border-radius: 2px;
    color: #089CA4;

}

.h5{
    color: #089CA4;
}

.footer{
    background-color:#84CED2;
    color: white;
}

.navbar-expand-lg{
    background-color:#089CA4;
}

.boton2{
    background-color:#089CA4;
    border-radius: 2px;
    color: #c8d4d4;

}